body {
    background-color: #232830;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin  : 0px 200px;

}

#header {
    display:flex;
    margin-top: 75px;
    justify-content: space-between;
    font-size: 30px;
}

.left-header {
    font-weight: bold;
    font-size: 30px;
}

.right-header {
    display:flex;
}

.header-options {
    padding: 0px 20px;
    font-size: 24px;
    font-weight: 400;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0px;
    flex-direction: column;
}

#logo img {
    width: 194.45px;
    height: 204.08px;
}
/* #logo div {
    display: block;
} */

.title {
    margin-top: 10px;
    font-family: 'Recursive', sans-serif;
    color: #FF7575;
    font-size: 71px;
    font-style: italic;
    font-weight: 400;
}

.subtitle{
    margin-top: 10px;
    font-size: 29px;
    font-weight: 400;
}

hr {
    margin: 0px -200px;
    border: none;
    border-top: 2px solid #4D4D4D;
    opacity: 0.5;
}

#category-list {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#category-list img {
    padding-left: 3px;
    padding-right: 3px;
}

#category-list div {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Recursive', sans-serif;
    font-size: 27px;
    font-weight: 400;
    font-style: italic;
    color:#909090;
}

.fade-text {
    font-style: italic;
    color: #909090;
    -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
    mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

#article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    margin: 75px auto;
    width: fit-content;
}

#article-grid div {
    background-color: white;
    border-radius: 30px;
    /* width: 390px;
    height: 439px; */
}

.article {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;   /* centers image + text horizontally */
    padding: 15px;
}

.article img {
    padding: 15px;
}



.article-title {
    font-size: 19px;
    font-weight: bold;
    padding: 15px;
    align-self: flex-start;
}

.article-subtitle {
    font-size: 16px;
    padding: 15px;
}

.article-date {
    align-self: flex-start;
    padding: 15px;
    font-size: 16px;
   margin-top: auto;
}

.article-date span {
    margin-right: 20px;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#pagination div {
    font-size: 25px;
    font-family: 'Recursive';
    color: #909090;
    font-style: italic;
}

#pagination div.current-page {
    color: #FF7575;
}

.hr-pagination {
    margin-top: 75px;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left-footer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-footer span {
    font-size: 30px;
    font-weight: bold;
}

.right-footer {
    display: flex;
    align-items: center;
    gap: 30px;
}


button {
    border-width: 0px;
    background-color: #4699E0;
    color: white;
    font-family: 'Poppins';
    border-radius: 5px;
    cursor: pointer;
}

footer {
    color: gray;
    font-size: 10px;
    opacity: 0.75;
    text-align: end;
}